


QMainWindow{
    background-color: #000000;
}

ScrollAreaSidebar{
    border: none
}

/* ------------------------------ */
    /* 1. ESTILO DE LA PISTA (TRACK)  */
    /* ------------------------------ */
    QScrollBar:vertical {
        border: none;
        background: #000000; /* Fondo detrás del 'pulgar' */
        width: 10px;        /* Ancho de la barra */
        margin: 0px;        /* Sin margen */
    }

    /* ---------------------------------------------------- */
    /* 2. ESTILO DEL 'PULGAR' (HANDLE o Control Deslizable) */
    /* ---------------------------------------------------- */
    QScrollBar::handle:vertical {
        background: rgba(90, 90, 90, 1);     /* Color gris/azul del pulgar */
        min-height: 20px;     /* Asegura que el pulgar sea visible */
        border-radius: 5px;   /* Bordes redondeados */
    }
    
    /* Efecto hover */
    QScrollBar::handle:vertical:hover {
        background: rgba(90, 90, 90, 1); /* Color más oscuro al pasar el mouse */
    }

    /* ------------------------------------- */
    /* 3. OCULTAR BOTONES DE FLECHA (opcional) */
    /* ------------------------------------- */
    QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
        border: none;
        background: none;
        height: 0px; /* Elimina el espacio de los botones */
    }


#ContentSidebar {
        border: 2px solid #000000;  /* Borde alrededor del área visible */
        background-color: #000000; /* Fondo del área de contenido */
}



#bar_options{
    padding: 0px;
    margin: 0px;
    border: none;
}
#text-fps{
    color:#fe0;
    font-weight: bold;
}
#btn-bar{
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    padding: 0px;
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    background-color: #00dddddd;
    border: 1px solid #dadada;
    color: #ffffff;
}


QLabel{
    color: #ecf0f1;
    font-size: 14px;
}


#title_semibold{
    font-weight: bold;
}



QWidget#SidebarDock, #bar_options {
   background-color: #252525;
}


QWidget#Head {
   background: qlineargradient(
        x1:0, y1:0, x2:0, y2:1,
        stop:0 #333333, stop:1 #292929
    );
    border-bottom: 1px solid #333333;
}
